{% extends 'base.html.twig' %}

{% block title %}Welcome To Guest Book Portal{% endblock %}

{% block body %}
<div class="home_bottom_block">
    <a href="{{ path('guest_login') }}" class="btn btn-secondary custom_btn">Guest Login</a>
    <a href="{{ path('admin_login') }}" class="btn btn-secondary custom_btn">Administrator Login</a>                            
</div>
{% endblock %}